
@model TblComments
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb" data-wow-duration="2s">
                <li>
                     <a asp-action="Index" asp-controller="Home">Home</a><i class="fa fa-arrow-right" aria-hidden="true"></i>
                </li>
                <li >
                    <a asp-action="Index" asp-controller="Home" >
                    @if (ViewBag.TblPost != null)
                    {
                    <a asp-action="Index" asp-controller="Home" >@ViewBag.TblPost.Category.CategoryName</a>
                       
                    }
                    </a>
                </li>
                <li>
                  
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>

                    @if (ViewBag.TblPost != null)
                    {
                        @ViewBag.TblPost.Title

                    }
                   
                </li>
            </ol>
        </div>
    </div>
</div>


<div id="main-content" class="main-container blog-single post-layout-style1" role="main">



    <div class="container">
        <div class="row">
        </div>
        <div class="row digiqole-content">
            <div class="col-lg-8 col-md-12">
                <article id="post-220"
                         class="post-content post-single post-220 post type-post status-publish format-standard has-post-thumbnail hentry category-travel">
                    <!-- Article header -->
                    <header class="entry-header clearfix">
                        <h1  class="post-title lg">
                            @if (ViewBag.TblPost != null)
                            {
                                @ViewBag.TblPost.Title

                            }
                        </h1>
                        <ul class="post-meta">
                            <li class="post-category">
                                <a class="post-cat"
                                  
                                   style=" background-color:;color:#ffffff ">
                                    <span class="before" style="background-color:;color:#ffffff "></span>

                                    @if (ViewBag.TblPost != null)
                                    {
                                        @ViewBag.TblPost.Category.CategoryName


                                    }
                                    <span class="after" style="background-color:;color:#ffffff"></span>
                               
                                </a>
                            </li>
                            <li class="post-author">
                                <img alt='avatar'
                                    src="~/image/imageUser.jpg"
                                     class='avatar avatar-55 photo' height='55' width='55' loading='lazy'
                                     decoding='async' />
                                     <a asp-action="Index" asp-controller="User" asp-route-Id="@ViewBag.TblPost.IdentityUser.Id">
                                    @if (ViewBag.TblPost != null)
                                    {
                                        @(ViewBag.TblPost.IdentityUser != null && ViewBag.TblPost.IdentityUser.UserName != null ? ViewBag.TblPost.IdentityUser.UserName : "Dịu Thanh")
                                    }
                                         
                                     </a>
                            </li>
                            <li class="post-meta-date">
                                <i class="ts-icon ts-icon-clock-regular"></i>


                                @if (ViewBag.TblPost != null)
                                {
                                    @ViewBag.TblPost.CreatedAt

                                }
                              
                            </li>

                        @*     <li class="meta-post-view">
                               Tổng số bình luận
                                @ViewBag.SoBL
                            </li> *@
                         @*  
                            <li class="meta-post-view">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                @ViewBag.TblPost.PostsView
                            </li>
                          *@
                        </ul>
                    </header><!-- header end -->


                    <div class="post-media post-image">
                        @if (ViewBag.TblPost != null)
                        {
                            <img class="img-fluid" src="@ViewBag.TblPost.ImgSrc"/>

                        }
                       

                    </div>

                    <div class="post-body clearfix">

                        <!-- Article content -->
                        <div class="entry-content clearfix">

                          
                            <p class="content">

                                @if (ViewBag.TblPost != null)
                                {
                                    @Html.Raw(ViewBag.TblPost.Content)

                                }

                               
                            </p>


                         

                            <p><!-- /wp:heading --></p>
                            <div class="post-footer clearfix">
                            </div> <!-- .entry-footer -->

                        </div> <!-- end entry-content -->
                    </div> <!-- end post-body -->
                </article>

                <div class="author-box solid-bg">
                    <div class="author-img pull-left">
                        <img alt='avatar'
                             src="~/image/imageUser.jpg"
                             class='avatar avatar-96 photo' height='96' width='96' loading='lazy' decoding='async' />
                    </div>
                    <div class="author-info">
                        <h3>@ViewBag.TblPost.IdentityUser.UserName</h3>
                        <p class="author-url">
                           Author
                        </p>
                        <p>
                        </p>
                    </div>
                </div> <!-- Author box end -->


                <div id="comments" class="blog-post-comment">
                    @* Hiển thị các thông báo lỗi nếu có *@
                    @if (ViewBag.ErrorMessages != null && ViewBag.ErrorMessages.Count > 0)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewBag.ErrorMessages)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }

                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">
                            Leave a Reply <small>
                                <a rel="nofollow"
                                   id="cancel-comment-reply-link" href="index.html#respond"
                                   style="display:none;">Cancel reply</a>
                            </small>
                        </h3>

                        <form asp-action="PostComment" asp-controller="User"
                             class="comment-form">

                            <p class="comment-notes">
                                <span id="email-notes">
                                    Your email address will not be
                                    published.
                                </span> <span class="required-field-message">
                                    Required fields are
                                    marked <span class="required">*</span>
                                </span>
                            </p>
                            <input  value="@ViewBag.TblPost.PostId" asp-for="PostId" hidden/>

                            @{
                                string userId = null;
                                if (SignInManager.IsSignedIn(User))
                                {
                                    var claimsIdentity = (ClaimsIdentity)User.Identity;
                                    userId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
                                }
                            }
                            @foreach (var item in ViewBag.Comments)
                            {
                                <div>

                                    <h4>@item.IdentityUser</h4>  <span>@item.DateCreated</span>
                               
                                    <p> @item.Description </p>
                                    @if (item.AccountId.Equals(userId))
                                    {
                                        <p> Edit</p>
                                    }
                                </div>
                            }

                            <div class="comment-info row">
                             
                                <div class="col-md-12">
                                   
                                        <p> Your Name: 
                                        @UserManager.GetUserName(User)
                                    </p>

                                </div>
                             
                            </div>
                         

                            <div class="row">
                                <div class="col-md-12 ">
                                    <textarea asp-for="Description" class="form-control msg-box"></textarea>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <p class="form-submit">
                                <button  type="submit" 
                                       class="btn-comments btn btn-primary">Nhận xét</button>
                               
                            </p>
                        </form>
                    </div><!-- #respond -->

                </div><!-- #comments -->
            </div> <!-- .col-md-8 -->







            <div class="col-lg-4 col-md-12">
                <div id="sidebar" class="sidebar" role="complementary">
                    <div id="pu_media_upload-2" class="widget pu_media_upload">
                       @*  <div class="widgets author-box-widget ts-grid-box">
                            <div class="ts-post-thumb">
                                <a href="https://demo.themewinter.com/wp/digiqoles/personal-blog/author/">
                                    <img class="img-fluid"
                                         src="../../../../wp-content/uploads/sites/4/2020/04/author.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-content">
                                <h3 class="post-title md">
                                    <a href="https://demo.themewinter.com/wp/digiqoles/personal-blog/author/">
                                        John
                                        Leo
                                    </a>
                                </h3>
                                <p>
                                    Traveler &amp; Blogger

                                    The same systems we built to handle peaks like the Cyber Monday online.
                                </p>
                            </div>
                        </div> *@
                    </div>
                   @*  <div id="xs-social-2" class="widget digiqole-widget" color="white" !important>
                        <h3 class="widget-title"> <span class="title-angle-shap">Social</span></h3>
                        <ul class="footer-social xs-social-list xs-social-list-v6 digiqole-social-list" >

                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                            @* <li><a href="#" target="_blank"><i class="ts-icon ts-icon-twitter"></i></a></li> *



                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                            <li><a href="https://www.google.com/account" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>

                           @*  <li><a href="" target=""><i class="ts-icon ts-icon-vimeo-v"></i></a></li> *


                        </ul><!-- Footer social end -->

                    </div> *@
                    <div id="digiqole_latest_news_widget-2" class="widget digiqole_latest_news_widget">
                        <h3 class="widget-title"> <span class="title-angle-shap">Recent Post</span></h3>
                        <div class="recent-posts-widget post-list-item">

                           

                            <div class="post-tab-list">
                                @foreach (var item in ViewBag.PostNewest)
                                {
                                <div class="post-content media">
                                    <div class="post-thumb">
                                             <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                           rel="bookmark">

                                                
                                                    <img class="digiqole-sm-bg-img"
                                                        src="@item.ImgSrc"/>
                                                    
                                               
                                          

                                        </a>
                                    </div>
                            
                                    <div class="post-info media-body">
                                            <h5 class="post-cat  ">
                                                <a href="category/technology/index.html"
                                                  >



                                                </a>

                                            </h5>
                                        <h3 class="post-title">
                                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                               rel="bookmark" >

                                                   
                                                        @item.Title

                                                    
                                              

                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i>
                                             
                                                    @item.CreatedAt
                                                

                                               
                                        </span>
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
@* 
                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="https://demo.themewinter.com/wp/digiqoles/personal-blog/2020/04/12/everything-announced-at-google-summit/"
                                           rel="bookmark" title="Everything Announced at Google Summit">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../../../wp-content/uploads/sites/4/2020/04/image7-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color"
                                           href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/technology/"
                                           style="color:">
                                            Technology
                                        </a>
                                        <h3 class="post-title">
                                            <a href="https://demo.themewinter.com/wp/digiqoles/personal-blog/2020/04/12/everything-announced-at-google-summit/"
                                               rel="bookmark"
                                               title="Everything Announced at Google Summit">
                                                Everything Announced
                                                at Google Summit
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 12, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="index.html" rel="bookmark"
                                           title="Porsche Taylor Put All Women in the Seat">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../../../wp-content/uploads/sites/4/2020/04/image5-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color"
                                           href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/travel/"
                                           style="color:">
                                            Travel
                                        </a>
                                        <h3 class="post-title">
                                            <a href="index.html" rel="bookmark"
                                               title="Porsche Taylor Put All Women in the Seat">
                                                Porsche Taylor Put
                                                All Women in the Seat
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 12, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="post-content media">
                                    <div class="post-thumb">
                                        <a href="https://demo.themewinter.com/wp/digiqoles/personal-blog/2020/04/08/protecting-you-from-phishing-limit/"
                                           rel="bookmark" title="Protecting you from Phishing Limit">
                                            <span class="digiqole-sm-bg-img"
                                                  style="background-image: url(../../../../wp-content/uploads/sites/4/2020/04/image2-600x398.jpg);"></span>

                                        </a>
                                    </div>
                                    <div class="post-info media-body">
                                        <a class="post-cat only-color"
                                           href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/fashion/"
                                           style="color:">
                                            Fashion
                                        </a>
                                        <h3 class="post-title">
                                            <a href="https://demo.themewinter.com/wp/digiqoles/personal-blog/2020/04/08/protecting-you-from-phishing-limit/"
                                               rel="bookmark" title="Protecting you from Phishing Limit">
                                                Protecting
                                                you from Phishing Limit
                                            </a>
                                        </h3>
                                        <span class="post-date">
                                            <i class="ts-icon ts-icon-clock-regular"
                                               aria-hidden="true"></i> April 8, 2020
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                *@ 
                            }
                            </div>
                           
                        </div>
                    </div>
                   @*  <div id="text-2" class="widget widget_text">
                        <h3 class="widget-title">
                            <span class="title-angle-shap">Subscribe to my Newsletter</span>
                        </h3>
                        <div class="textwidget">
                            <p>
                                Be the first to receive the latest<br />
                                buzz, contests &amp; more!
                            </p>
                        </div>
                    </div>
                    <div id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                        <script>
                            (function () {
                                window.mc4wp = window.mc4wp || {
                                    listeners: [],
                                    forms: {
                                        on: function (evt, cb) {
                                            window.mc4wp.listeners.push(
                                                {
                                                    event: evt,
                                                    callback: cb
                                                }
                                            );
                                        }
                                    }
                                }
                            })();
                        </script> *@
                        
                        <!-- Mailchimp for WordPress v4.9.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                     @*    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-80" method="post" data-id="80"
                              data-name="Subscription">
                            <div class="mc4wp-form-fields">
                                <p class="personal-blog-cta">
                                    <label>
                                        <input type="email" name="EMAIL" placeholder="Your email" required />
                                    </label>

                                    <input type="submit" value="Subscribe" />
                                </p>
                            </div><label style="display: none !important;">
                                Leave this field empty if you're human:
                                <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                       autocomplete="off" />
                            </label><input type="hidden" name="_mc4wp_timestamp"
                                           value="1689603840" /><input type="hidden" name="_mc4wp_form_id" value="80" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                            <div class="mc4wp-response"></div>
                        </form> *@
                        
                        <!-- / Mailchimp for WordPress Plugin -->
                    </div>
                  @*   <div id="digiqole-category-list-2" class="widget digiqole-category-list">
                        <div class="widgets_category ts-category-list-item">
                            <ul class="ts-category-list">
                                <li>
                                    <a style="background-image:url(../../../../wp-content/uploads/sites/4/2020/04/image4.jpg)"
                                       href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/fashion/">
                                        <span>Fashion</span><span class="bar"></span> <span class="category-count">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="background-image:url(../../../../wp-content/uploads/sites/4/2020/04/image1.jpg)"
                                       href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/lifestyle/">
                                        <span>Lifestyle</span><span class="bar"></span> <span class="category-count">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="background-image:url(../../../../wp-content/uploads/sites/4/2020/04/image2.jpg)"
                                       href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/technology/">
                                        <span>Technology</span><span class="bar"></span> <span class="category-count">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a style="background-image:url(../../../../wp-content/uploads/sites/4/2020/04/image6.jpg)"
                                       href="https://demo.themewinter.com/wp/digiqoles/personal-blog/category/travel/">
                                        <span>Travel</span><span class="bar"></span> <span class="category-count">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> *@
                    <div id="media_image-2" class="widget widget_media_image">
                        <a href="#">
                            <img width="330"
                                 height="460" src="../../../../wp-content/uploads/sites/4/2020/07/banner.png"
                                 class="image wp-image-786  attachment-full size-full" alt="" decoding="async"
                                 loading="lazy" style="max-width: 100%; height: auto;"
                                 srcset="https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/07/banner.png 330w, https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/07/banner-215x300.png 215w"
                                 sizes="(max-width: 330px) 100vw, 330px" />
                        </a>
                    </div>
                </div> <!-- #sidebar -->
            </div><!-- Sidebar col end -->

        </div> <!-- .row -->

    </div> <!-- .container -->
</div>


@section scripts{
    <script>
        window.onscroll = function (ev) {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                // người dùng đã cuộn đến cuối trang, gọi API tại đây
                var url = window.location.pathname;
                var postId = url.substring(url.lastIndexOf('/') + 1);
                console.log("hihi: ", postId);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/Post/IncrementPostView?id=" + postId, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send();
            }
        };

    </script>
}