@model ListPost
@{
    ViewData["Title"] = "Home Page";
}

<div data-elementor-type="wp-page" data-elementor-id="6" class="elementor elementor-6">
    <div class="elementor-inner">
        <div class="elementor-section-wrap" id="head">
   
        
            <section class="elementor-section elementor-top-section elementor-element elementor-element-7415f9f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                     data-id="7415f9f" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d62cbc2"
                             data-id="d62cbc2" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-5c2189e elementor-widget elementor-widget-horizontal-post-block"
                                         data-id="5c2189e" data-element_type="widget"
                                         data-widget_type="horizontal-post-block.default">
                                        <div class="elementor-widget-container">

                                            <div class="horizontal-post-block">

                                                @foreach (var item in Model.WindowsPost.Take(2))
                                                {
                                                    <div class="post-block-style post-float align-items-center row">
                                                        <div class="col-lg-6">
                                                            <div class="post-thumb d-flex">
                                                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                   rel="bookmark"
                                                                   title="Porsche Taylor Put All Women in the Seat">
                                                                    <img loading="lazy" width="455" height="300"
                                                                         src="@item.ImgSrc  "
                                                                         class="attachment-digiqole-small size-digiqole-small wp-post-image"
                                                                         alt="Ảnh minh họa cho bài viết" decoding="async" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="post-content media-body align-self-center">
                                                                <a class="post-cat" asp-action="Index" asp-controller="Post" asp-route-CategoryName="Windows"> 
                                                                    @item.CategoryName
                                                                </a>
                                                                <h3 class="post-title">
                                                                    <a asp-action ="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                       rel="bookmark">
                                                                        @item.Title
                                                                    </a>
                                                                </h3>
                                                                <div class="post-meta">
                                                                    <span class="post-date">
                                                                        <i class="ts-icon ts-icon-clock-regular"></i>
                                                                        @item.CreatedAt
                                                                    </span>

                                                                 @*    Tổng số bình luận *@
                                                                    @* <span>@item.CommentsCount</span> *@

                                                                  @*   <span class="post-view">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                       @item.PostsView
                                                                    </span> *@
                                                                </div>
                                                                                                                                @{
                                                            var limitedContent = item.Content.Length <= 20 ? item.Content : item.Content.Substring(0, 20) + "...";
                                                            }
                                                               @*  @{
                                                                    var contentLines = item.Content.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None);
                                                                    var limitedContent = string.Join("\n", contentLines.Take(1));
                                                                } *@
                                                               @*  <p class="description-limit">
                                                                
                                                                    @Html.Raw(limitedContent)
                                                                </p>
 *@
                                                                <a class="post-readmore"
                                                                   asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId">
                                                                    Read More <i class="ts-icon ts-icon-arrow-right"></i>
                                                                </a>

                                                            </div><!-- Post content end -->
                                                        </div>

                                                    </div>

                                                    <!-- Post block style end -->
                                                }


                                               

                                            </div><!-- block-item6 -->

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4c9a2cd elementor-widget elementor-widget-image"
                                         data-id="4c9a2cd" data-element_type="widget"
                                         data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img decoding="async" width="730" height="15"
                                                     src="~/image/content/dot.png"
                                                     class="attachment-large size-large wp-image-208" alt=""
                                                     loading="lazy"
                                                     srcset="https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/04/dot.png 730w, https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/04/dot-300x6.png 300w"
                                                     sizes="(max-width: 730px) 100vw, 730px" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="elementor-element elementor-element-615bb7b elementor-widget elementor-widget-newszone-post-block"
                                         data-id="615bb7b" data-element_type="widget"
                                         data-widget_type="newszone-post-block.default">
                                        <div class="elementor-widget-container">



                                            <div class="block-item-post style9">



                                                <div class="row">


                                                    @foreach (var item in Model.IosPost.Take(2))
                                                    {

                                                        <div class="col-md-12">

                                                            <div class="post-block-style post-content feature-contents text-center">

                                                                <a class="post-cat"
                                                                   asp-action="Index" asp-controller="Post" asp-route-CategoryName="Ios"
                                                                   style="background-color:;color:#ffffff">

                                                                    @item.CategoryName
                                                                </a>


                                                                <h3 class="post-title md">
                                                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                       rel="bookmark">
                                                                        @item.Title
                                                                    </a>
                                                                </h3>

                                                                <div class="post-meta ">
                                                                    <span class="post-author">
                                                                        <i class="ts-icon ts-icon-user-solid"></i>
                                                                        <a asp-action="Index" asp-controller="User" >
                                                                            @(item.UserName != null && item.UserName != null ? item.UserName : "Dịu Thanh")
                                                                        </a>
                                                                    </span>
                                                                    <span class="post-date">
                                                                        <i class="ts-icon ts-icon-clock-regular"></i>
                                                                        @item.CreatedAt
                                                                    </span>

                                                                        @* <span>@item.CommentsCount</span> *@

                                                                    <span class="post-view">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        @item.PostsView
                                                                    </span>

                                                                </div>
                                                                <div class="post-thumb-wrap">
                                                                    <div class="post-thumb ts-resize">
                                                                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                           rel="bookmark"
                                                                           >
                                                                            <img width="600" height="398"
                                                                                 src="@item.ImgSrc"
                                                                                 class="attachment-digiqole-medium size-digiqole-medium wp-post-image"
                                                                                 alt="Ảnh minh họa bài viết" decoding="async"
                                                                                 loading="lazy" />
                                                                        </a>
                                                                    </div>
                                                                </div><!-- thumb end -->
                                                                @*   @{
                                                            var contentLines = item.Content.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None);
                                                            var limitedContent = string.Join("\n", contentLines.Take(1));
                                                            } *@
                                                                <p class="description-limit">
                                                                    @*   @Html.Raw(item.Content)
                                                                @Html.Raw(limitedContent) *@
                                                                </p>

                                                                <a class="post-readmore"
                                                                   asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId">
                                                                    read more <i class="ts-icon ts-icon-arrow-right"></i>
                                                                </a>

                                                            </div><!-- Post content end -->

                                                        </div> <!-- col end -->
                                                    }

                                                </div><!-- row end -->


                                            </div><!-- block-item6 -->

                                        </div>
                                    </div>

                                    <div class="elementor-element elementor-element-765974a elementor-widget elementor-widget-image"
                                         data-id="765974a" data-element_type="widget"
                                         data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img decoding="async" width="730" height="15"
                                                     src="~/image/content/dot.png"
                                                     class="attachment-large size-large wp-image-208" alt=""
                                                     loading="lazy"
                                                     srcset="https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/04/dot.png 730w, https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/04/dot-300x6.png 300w"
                                                     sizes="(max-width: 730px) 100vw, 730px" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5201d4b elementor-widget elementor-widget-horizontal-post-block"
                                         data-id="5201d4b" data-element_type="widget"
                                         data-widget_type="horizontal-post-block.default">
                                        <div class="elementor-widget-container">

                                            <div class="horizontal-post-block">
                                                </div><!-- Post block style end -->


                                                 @foreach (var item in Model.AdnroidPost.Take(2))
                                                {

                                                <div class="post-block-style post-float row align-items-center">
                                                    <div class="col-lg-6">
                                                        <div class="post-content media-body align-self-center">
                                                            <a class="post-cat"
                                                               asp-action="Index" asp-controller="Post" asp-route-CategoryName="Android">
                                                                @item.CategoryName
                                                            </a>
                                                            <h3 class="post-title">
                                                                <a asp-action ="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                   rel="bookmark"
                                                                  >
                                                                    @item.Title
                                                                </a>
                                                            </h3>
                                                            <div class="post-meta">
                                                                <span class="post-date">
                                                                    <i class="ts-icon ts-icon-clock-regular"></i>
                                                                   @item.CreatedAt
                                                                </span>

                                                                <span class="post-view">
                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                    @item.PostsView
                                                                </span>
                                                            </div>

                                                            h@* iện tổng số đã bình luận *@
                                                            @* <span>@item.CommentsCount</span> *@


                                                          @*   <p>
                                                                The same systems we built to handle peaks like the
                                                                Cyber Monday online shopping surge, or to stream the
                                                                World Cup finals, support increased traffic
                                                            </p> *@

                                                            <a class="post-readmore"
                                                               asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId">
                                                                Read More <i class="ts-icon ts-icon-arrow-right"></i>
                                                            </a>

                                                        </div><!-- Post content end -->
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="post-thumb d-flex">
                                                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                               rel="bookmark"
                                                               title="Everything Announced at Google Summit">
                                                                <img width="455" height="300"
                                                                     src="@item.ImgSrc"
                                                                     class="attachment-digiqole-small size-digiqole-small wp-post-image"
                                                                     alt="" decoding="async" loading="lazy" />
                                                            </a>
                                                        </div>
                                                    </div>


                                                </div>
                                                }
                                                <!-- Post block style end -->

                                            </div><!-- block-item6 -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-472877c"
                             data-id="472877c" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                  

                                    <div class="elementor-element elementor-element-e37d849 elementor-widget elementor-widget-newszone-title"
                                         data-id="e37d849" data-element_type="widget"
                                         data-widget_type="newszone-title.default">
                                        <div class="elementor-widget-container">
                                            <div class="section-heading heading-style4">
                                                <h2 class="block-title title-border">
                                                    <span class="title-bg">
                                                        recent posts
                                                    </span>
                                                </h2>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e42ec3c recent-post-classic elementor-widget elementor-widget-wp-widget-digiqole_latest_news_widget"
                                         data-id="e42ec3c" data-element_type="widget"
                                         data-widget_type="wp-widget-digiqole_latest_news_widget.default">
                                        <div class="elementor-widget-container">
                                            <div class="recent-posts-widget post-list-item">
                                                <div class="post-tab-list">
                                                    @foreach (var item in Model.PostNewest)
                                                    {
                                                        <div class="post-content media">
                                                            <div class="post-thumb">
                                                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                   title="Everything Announced at Google Summit">
                                                                    <img class="digiqole-sm-bg-img"
                                                                         src="@item.ImgSrc" />
                                                                </a>
                                                            </div>
                                                            <div class="post-info media-body">
                                                                <h5 a class="post-cat only-color"
                                                                      style="color:blueviolet">
                                                                        @item.Category.CategoryName
                                                                    
                                                                </h5>
                                                              
                                                                <h3 class="post-title">
                                                                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.PostId"
                                                                       rel="bookmark">
                                                                        @item.Title
                                                                    </a>
                                                                </h3>
                                                           @*  <span class="post-view">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                @item.PostsView
                                                            </span> *@
                                                                <span class="post-date">
                                                                     @item.CreatedAt
                                                                </span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    }



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1339e48 elementor-widget elementor-widget-newszone-title"
                                         data-id="1339e48" data-element_type="widget"
                                         data-widget_type="newszone-title.default">
                                        <div class="elementor-widget-container">
                                            <div class="section-heading heading-style4">
                                                <h2 class="block-title title-border">
                                                    <span class="title-bg">
                                                        Categories
                                                    </span>
                                                </h2>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-773ae8b elementor-widget elementor-widget-newszone-category-list"
                                         data-id="773ae8b" data-element_type="widget"
                                         data-widget_type="newszone-category-list.default">
                                        <div class="elementor-widget-container">


                                            <!-- style one -->
                                            <!-- style two -->
                                            <div class="ts-category ts-category-classic ts-category-list-item">
                                                <ul class="ts-category-list">
                                                    <li>
                                                    <a asp-action="Index" asp-controller="Post" asp-route-CategoryName="Android">
                                                        <span> Android</span>
                                                        <span class="bar"></span>
                                                        <span class="category-count">4</span>
                                                    </a>
                                                    </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Post" asp-route-CategoryName="iOS">
                                                        <span> iOS</span>
                                                        <span class="bar"></span>
                                                        <span class="category-count">3</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Post" asp-route-CategoryName="macOS">
                                                        <span> macOS</span>
                                                        <span class="bar"></span>
                                                        <span class="category-count">3</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a asp-action="Index" asp-controller="Post" asp-route-CategoryName="Windows">
                                                        <span> Windows</span>
                                                        <span class="bar"></span>
                                                        <span class="category-count">3</span>
                                                    </a>
                                                </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-302cbc9 elementor-widget elementor-widget-image"
                                         data-id="302cbc9" data-element_type="widget"
                                         data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                            <a href="#head">
                                                <img decoding="async" width="330" height="460"
                                               
                                                     class="attachment-large size-large wp-image-786" alt=""
                                                     loading="lazy"
                                                     srcset="https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/07/banner.png 330w, https://demo.themewinter.com/wp/digiqoles/personal-blog/wp-content/uploads/sites/4/2020/07/banner-215x300.png 215w"
                                                     sizes="(max-width: 330px) 100vw, 330px" />

                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>