@model IEnumerable<TechSocial.Models.TblCategory>

@{
    ViewData["Title"] = "Index";
}






<div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Quản lý danh mục</h1>
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="showModal()">
            <i class="align-middle" data-feather="plus"></i> Thêm mới
        </button>
    </div>

    <div class="row">
        <div class="col-12 col-xl-12">

            <div class="card">
                <table class="table table-striped" id="tblCategory">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên danh mục</th>
                            <th>Mô tả</th>
                            <th nowrap>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int STT = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr id="category-@item.CategoryId">
                                <td>@STT</td>

                                <td id="category-name-@item.CategoryId">@item.CategoryName</td>
                                <td id="display-order-@item.CategoryId">@item.Description</td>

                                <td class="table-action">
                                    <a href="#" onclick="populateModalWithIndustryDetails(@item.CategoryId)">
                                        <i class="fal fa-pen" style="color: #000000; margin-right: 25px;"></i>
                                    </a>
                                    <a onclick="deleteIndustry(@item.CategoryId)">
                                        <i class="fal fa-trash" style="color: #000000;"></i>
                                    </a>
                                </td>
                            </tr>
                            STT++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Thêm mới một danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close" onclick="resetText()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Tên danh mục <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="CategoryName" placeholder="Nhập tên danh mục" style="margin-bottom: 5px;" />
                    <span id="checkName" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Mô tả<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Description" placeholder="Nhập mô tả danh mục" style="margin-bottom: 5px;" />
                    <span id="checkDisplay" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetText()">Đóng</button>
                <button type="button" class="btn btn-primary" id="save" onclick="saveIndustry()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>



@* <div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="row element-button">
                <div class="col-sm-2">
                    <button class="btn btn-add btn-sm" type="button" title="Thêm" data-bs-toggle="modal" data-bs-target="#myModal" onclick="showModal()">
                        <i class="fas fa-plus"></i>
                    Tạo Category
                    </button>
                </div>
            </div>
            <table class="table table-hover table-bordered" id="tblCategory">
                <thead>
                    <tr>
                        <th>STT</th>
                       
                        <th>Tên</th>
                        <th>Mô tả</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>


                    @{
                        int STT = 1;
                    }

                    @foreach (var item in Model) {
                        <tr id="category-@item.CategoryId">
                            <td>@STT</td>

                            <td id="category-name-@item.CategoryId">@item.CategoryName</td>
                            <td id="display-order-@item.CategoryId">@item.Description</td>

                            <td class="table-action">
                                <a class="btn btn-primary btn-sm edit"  onclick="populateModalWithIndustryDetails(@item.CategoryId)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-primary btn-sm trash" title="Xóa" onclick="deleteIndustry(@item.CategoryId)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>

                        </tr>
                        STT++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> *@

@section Scripts{
    <script src="~/js/Category.js"></script>
    <script>
        document.getElementById("CategoryName").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                createIndustry();
            }
        });</script>
}

