@model IEnumerable<BoxNews.Models.TblAccount>

@{
    ViewData["Title"] = "Index";
}



<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="row element-button">
                <div class="col-sm-2">
                    <a class="btn btn-add btn-sm" asp-action="Create" title="Thêm">
                        <i class="fas fa-plus"></i>
                        Tạo Tài khoản mới
                    </a>
                </div>
            </div>
            <table class="table table-hover table-bordered" id="sampleTable">
                <thead>
                    <tr>
                       

                        <th>UserName</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>FullName</th>
                        <th>LastLogin</th>
                        <th>Role</th>
                        <th>Chức năng </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           
                            <td>    @Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>  @Html.DisplayFor(modelItem => item.UserPassword)</td>
                            <td>    @Html.DisplayFor(modelItem => item.Email)</td>
                            <td>  @Html.DisplayFor(modelItem => item.FullName)</td>
                            <td>    @Html.DisplayFor(modelItem => item.LastLogin)</td>
                            <td>  @Html.DisplayFor(modelItem => item.Role.RoleName)</td>


                            <td>
                                <a class="btn btn-primary btn-sm trash" title="Xóa" asp-action="Delete" asp-route-id="@item.AccountId">

                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a class="btn btn-primary btn-sm edit" asp-action="Edit" asp-route-id="@item.AccountId" title="Sửa"
                                   data-target="#ModalUP">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>










